@keyframes change{
    0%{background: red;}
    30%{background: yellow;}
    60%{background: green;}
    100%{background: blue;}
}

#app4 .circle{
    margin-top: 4vw;
    margin-left: 4vw;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    border: 1px solid red;
}
#app4 .circle.active{    
    animation: change 1s infinite alternate linear;
}


